.blue {
  background: rgb(136, 208, 255);
  background: linear-gradient(
    90deg,
    rgba(136, 208, 255, 1) 0%,
    rgba(0, 108, 255, 1) 100%
  );
}

.yellow {
  background: rgb(255, 237, 113);
  background: linear-gradient(
    90deg,
    rgba(255, 237, 113, 0.9920167896260067) 0%,
    rgba(255, 244, 7, 1) 100%
  );
}

.orange {
  background: rgb(255, 191, 113);
  background: linear-gradient(
    90deg,
    rgba(255, 191, 113, 0.9920167896260067) 0%,
    rgba(255, 156, 7, 1) 100%
  );
}

.green {
  background: rgb(162, 236, 81);
  background: linear-gradient(
    90deg,
    rgba(162, 236, 81, 0.9920167896260067) 0%,
    rgba(47, 199, 0, 1) 100%
  );
}

.pink {
  background: rgb(255, 147, 216);
  background: linear-gradient(
    90deg,
    rgba(255, 147, 216, 0.9920167896260067) 0%,
    rgba(224, 17, 202, 1) 100%
  );
}

.note {
  max-width: 250px;
  height: 350px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border-radius: 1rem;
  box-shadow: 0.5rem 0.5rem 0.5rem black;
}

.note textarea {
  resize: none;
  flex-grow: 1;
}

.note textarea,
.note input {
  border: none;
  outline: none;
  background-color: transparent;
}

.note input {
  font-size: 2rem;
}

.note select {
  margin-top: auto;
}
